@model Projekt.Models.Hotel

@{
    ViewData["Title"] = "Edytuj Hotel";
}

<h1>Edytuj Hotel</h1>

@if (!ViewData.ModelState.IsValid)
{
        <div class="alert alert-danger">
            <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                        <li>@error.ErrorMessage</li>
            }
            </ul>
        </div>
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Hotel</h4>
        <hr />
        <form asp-action="Edit">
            <div class="form-group">
                <label asp-for="Name" class="control-label">Nazwa</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label">Miasto</label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label">Adres</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PricePerNight" class="control-label">Cena za noc</label>
                <input asp-for="PricePerNight" class="form-control" />
                <span asp-validation-for="PricePerNight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label">
                    ImageUrl (podaj nazwę pliku wraz z rozszerzeniem)
                </label>
                <input asp-for="ImageUrl" class="form-control" value="\images\" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Opis</label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Index" class="btn btn-secondary">Powrót do listy</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
